.container {
  min-width: 700px;
  margin: 5px auto;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-item {
  font-size: 1.1rem;
  color: #333;
}

.header-label {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.section {
  background-color: #fefefe;
  border-radius: 8px;
  border: 2px solid #3498db;
  padding: 15px;
}

.recevedSection {
  background-color: #fefefe;
  border-top: 2px solid #3498db;
}

.Balance {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.label {
  display: block;

  font-weight: bold;
  color: #555;
}

.textarea {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.textarea:focus {
  border-color: #3498db;
  outline: none;
}

.row {
  display: flex;
  align-items: flex-start;

}

.itemsGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  /* 8 columns */
  gap: 1px;
  align-items: center;
}

.goldGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  /* 8 columns */
  align-items: center;
}




.input {
  flex: 1;
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #3498db;
  outline: none;
}

.operator {
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
}

.input-read-only {
  flex: 1;
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  color: #666;
  cursor: not-allowed;
  box-sizing: border-box;
  min-width: 100px;
}

.givenInput {
  width: 70px;
}

.givenTouch {
  width: 60px
}



.circle-button {
  font-size: 1.3rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circle-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.circle-button:active {
  background-color: #2471a3;
  transform: scale(1.0);
}

.select {
  flex: 1;
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
  transition: border-color 0.3s ease;
}

.select:focus {
  border-color: #3498db;
  outline: none;
}

.select-small {
  width: 60px;
  padding: 10px 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  text-align-last: center;
  transition: border-color 0.3s ease;
}

.select-small:focus {
  border-color: #3498db;
  outline: none;
}


.input-group {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 10px;

}

.input-group-fluid {
  display: flex;
  gap: 15px;
  margin-top: 2px;
  align-items: center;
}

.net-weight-display {
  font-size: 1rem;
  font-weight: bold;
  color: #0f7ae5;
  margin-top: 15px;
  padding-bottom: 5px;
}

.net-weight-value {
  color: #e74c3c;
}

.total-gold-container {
  margin-top: 5px;
  padding-top: 5px;

}

.total-gold-label {
  font-weight: bold;
  color: #555;
}

.total-gold-value {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1rem;
}

.finalTotalContainer {
  margin: 10px;
}

.finalTotal {
  padding-bottom: 5px;
  color: #2c3e50;
  font-size: 1rem;
}

.balance-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
}

.balance-display-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  padding-bottom: 5px;
}

.balance-label {
  font-weight: bold;
  color: #555;
  margin-right: 15px;
}

.balance-value {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1rem;

}

.balanceLine {
  border-bottom: 2px solid black;
}

.wastageBox {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 2px solid #3498db;
}

.deduction-section {
  flex: 1;
  min-width: 200px;
  border-right: 2px solid #3498db;

}

.deduction-row {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.deduction-select,
.deduction-input {
  padding: 5px 5px;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

}

.deduction-select {
  width: 100px;
}

.deduction-input {
  width: 100px;
}

.deduction-select:focus,
.deduction-input:focus {
  border-color: #3498db;
  outline: none;
}

.deleteIcon {
  font-size: 22px;
  color: #e74c3c;
  cursor: pointer;

}

.deleteIcon:hover {
  color: #c0392b;
}

.wastageSection {
  flex: 1;
  min-width: 200px;
}

.wastageInputBox {
  display: flex;
  align-items: flex-start;
  gap: 3px;
  flex-wrap: wrap;

}

.wastageInputBox input {
  padding: 5px 5px;
  font-size: 0.95rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100px;
  box-sizing: border-box;
}

.operator {
  font-size: 18px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.75rem;
}




.final-balance-section {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #3498db;
  text-align: center;
  background-color: #eaf7ff;
  border-radius: 8px;
  padding: 5px;
}

.balance-text-owner {
  font-size: 1.3rem;
  font-weight: bold;
  color: #27ae60;
}

.balance-text-goldsmith {
  font-size: 1.3rem;
  font-weight: bold;
  color: #c0392b;
}

.balance-amount {
  font-size: 1.4rem;
  color: #34495e;
  margin-left: 10px;
}

/* New styles for the updated layout */

.total-purity-container {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Adjust spacing as needed */
  margin-top: 10px;
  font-weight: bold;
}

.input-small {
  width: 80px;
  /* Adjust width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.net-weight-display .net-weight-value {
  font-weight: bold;
  color: #007bff;
  /* Example color */
}


.select-small {
  width: 60px;
  /* Adjust width for the %/+ selector */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.balance-text-owner {
  color: #dc3545;
  /* Red for owner gives balance */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.balance-text-goldsmith {
  color: #28a745;
  /* Green for goldsmith gives balance */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.balance-amount {
  font-size: 1.2rem;
}

.jobcard-dialog {
  width: 60vw !important;
  min-width: 800px !important;
  height: 85vh;
  padding: 24px;
  border-radius: 12px;
}

.deleteIcon {
  font-size: 25px;
  color: red;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}

.givenGoldSelect {

  width: 80px;
}

.itemwt,
.seal-select {
  width: 70px !important;
}

.itemname-select,
.seal-select,
.userinput,
.givenGoldSelect {
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.itemname-select {
  width: 130px !important;
}

.userinput,
.givenGoldSelect {
  width: 65px;
  font-size: 15px;
}

.givenInput,
.givenTouch {
  font-size: 1rem;
}





@media print {
  @page {
    size: A6;
    margin: 0mm;

  }

  html,
  body {
    font-size: 1rem !important;
    width: 100% !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .deduction-section {
    flex: 2 !important;
  }

  .wastageSection {
    flex: 2 !important;
  }

  .deduction-section {
    max-width: 80px !important;
  }

  .deduction-select {
    width: 80px !important;
    font-size: 12px !important;
  }

  .deduction-input {
    width: 65px !important;
  }

  .wastageInputBox input {
    width: 85px !important;
  }

  .watageGoldSmith input {
    width: 60px !important;
  }

  .givenTouch {
    width: 50px !important;
  }

  .givenInput {
    width: 80px !important;
  }

  /* .givenGoldSelect{
  font-size: 12px;
} */



  .select,
  .deduction-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

  }
  h3{
     margin-top: 2px;
    font-size: 1rem;
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .jobcard-page.print-jobcard {

    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
  }

  .container {
    width: 100% !important;
    max-width: 200mm !important;
    /* A6 width */
    margin: 0 auto !important;
    padding: 15px 100px !important;
    border-radius: 0 !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
  }

  .jobcard-dialog {
    width: 100% !important;
    height: auto !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }


  .circle-button,
  .button,
  .dialogTitle,
  .deleteIcon,
  .weight,
  .operator {
    display: none !important;
  }

  .row {
    gap: 2px !important;
  }

  /* .givenInput,.givenTouch,.userinput{
  font-size: 1rem;
} */
  .userinput {
    width: 45px !important;
  }

  .givenGoldSelect,
  .givenTouch {
    width: 50px !important;
    /* font-size: 1rem; */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .givenInput {
    width: 70px !important;
  }

  .itemname-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80px !important;
    /* font-size: 1rem; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }

  .seal-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* font-size: 1rem; */
    width: 70px !important;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }



}

.weight {
  cursor: pointer;
  width: 30px;
  height: 30px;
}